@model QLVatTuPhongThiNghiem.Models.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Dashboard</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Dashboard</li>
                        <li class="breadcrumb-item active">Trang chủ</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <!-- Statistics Cards -->
        <div class="row second-chart-list third-news-update">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card gradient-primary o-hidden">
                    <div class="card-body">
                        <div class="media static-top-widget">
                            <div class="align-self-center text-center">
                                <i data-feather="database" class="font-primary"></i>
                            </div>
                            <div class="media-body">
                                <span class="m-0">Tổng thiết bị</span>
                                <h4 class="mb-0 counter">@Model.TongThietBi</h4>
                                <i class="icon-bg" data-feather="database"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card gradient-success o-hidden">
                    <div class="card-body">
                        <div class="media static-top-widget">
                            <div class="align-self-center text-center">
                                <i data-feather="check-circle" class="font-success"></i>
                            </div>
                            <div class="media-body">
                                <span class="m-0">Thiết bị tốt</span>
                                <h4 class="mb-0 counter">@Model.ThietBiTot</h4>
                                <i class="icon-bg" data-feather="check-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card gradient-secondary o-hidden">
                    <div class="card-body">
                        <div class="media static-top-widget">
                            <div class="align-self-center text-center">
                                <i data-feather="tool" class="font-secondary"></i>
                            </div>
                            <div class="media-body">
                                <span class="m-0">Đang sửa chữa</span>
                                <h4 class="mb-0 counter">@Model.ThietBiDangSua</h4>
                                <i class="icon-bg" data-feather="tool"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card gradient-warning o-hidden">
                    <div class="card-body">
                        <div class="media static-top-widget">
                            <div class="align-self-center text-center">
                                <i data-feather="x-circle" class="font-warning"></i>
                            </div>
                            <div class="media-body">
                                <span class="m-0">Thiết bị hỏng</span>
                                <h4 class="mb-0 counter">@Model.ThietBiHong</h4>
                                <i class="icon-bg" data-feather="x-circle"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Charts and Tables -->
        <div class="row">
            <div class="col-xl-8 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Thống kê thiết bị theo phòng</h5>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa-spin fa-cog"></i></li>
                                <li><i class="view-html fa fa-code"></i></li>
                                <li><i class="icofont icofont-maximize full-card"></i></li>
                                <li><i class="icofont icofont-minus minimize-card"></i></li>
                                <li><i class="icofont icofont-refresh reload-card"></i></li>
                                <li><i class="icofont icofont-error close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordernone">
                                <thead>
                                    <tr>
                                        <th scope="col">Phòng máy</th>
                                        <th scope="col">Tổng TB</th>
                                        <th scope="col">TB Tốt</th>
                                        <th scope="col">TB Hỏng</th>
                                        <th scope="col">Đang sửa</th>
                                        <th scope="col">Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.ThongKeTheoPhong?.Any() == true)
                                    {
                                        @foreach (var item in Model.ThongKeTheoPhong)
                                        {
                                            <tr>
                                                <td>@item.TenPhongMay</td>
                                                <td><span class="badge badge-light-primary">@item.TongThietBi</span></td>
                                                <td><span class="badge badge-light-success">@item.ThietBiTot</span></td>
                                                <td><span class="badge badge-light-danger">@item.ThietBiHong</span></td>
                                                <td><span class="badge badge-light-warning">@item.ThietBiDangSua</span></td>
                                                <td>
                                                    @if (item.ThietBiHong == 0)
                                                    {
                                                        <span class="badge badge-success">Tốt</span>
                                                    }
                                                    else if (item.ThietBiHong < 3)
                                                    {
                                                        <span class="badge badge-warning">Cảnh báo</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-danger">Cần chú ý</span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6" class="text-center">Chưa có dữ liệu</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Thông tin tổng quan</h5>
                    </div>
                    <div class="card-body">
                        <div class="ecommerce-widgets">
                            <div class="row">
                                <div class="col-12">
                                    <div class="media ecommerce-card-media">
                                        <div class="ecommerce-card-icon primary">
                                            <i data-feather="dollar-sign"></i>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="f-w-500">Tổng giá trị thiết bị</h6>
                                            <h4 class="f-w-500 mb-0">@String.Format("{0:N0}", Model.TongGiaTriThietBi) VNĐ</h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="media ecommerce-card-media">
                                        <div class="ecommerce-card-icon success">
                                            <i data-feather="calendar"></i>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="f-w-500">Lịch thực hành hôm nay</h6>
                                            <h4 class="f-w-500 mb-0">@Model.LichThucHanhHomNay</h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="media ecommerce-card-media">
                                        <div class="ecommerce-card-icon warning">
                                            <i data-feather="percent"></i>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="f-w-500">Tỷ lệ thiết bị tốt</h6>
                                            <h4 class="f-w-500 mb-0">
                                                @if (Model.TongThietBi > 0)
                                                {
                                                    @String.Format("{0:N1}%", (double)Model.ThietBiTot / Model.TongThietBi * 100)
                                                }
                                                else
                                                {
                                                    @("0%")
                                                }
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h5>Menu nhanh</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 mb-3">
                                <a href="@Url.Action("Index", "TrangTB")" class="btn btn-primary btn-block">
                                    <i data-feather="box" class="me-2"></i>
                                    Quản lý thiết bị
                                </a>
                            </div>
                            <div class="col-6 mb-3">
                                <a href="@Url.Action("Index", "LichThucHanh")" class="btn btn-success btn-block">
                                    <i data-feather="calendar" class="me-2"></i>
                                    Lịch thực hành
                                </a>
                            </div>
                            <div class="col-6 mb-3">
                                <a href="@Url.Action("Index", "SuaChua")" class="btn btn-warning btn-block">
                                    <i data-feather="tool" class="me-2"></i>
                                    Sửa chữa
                                </a>
                            </div>
                            <div class="col-6 mb-3">
                                <a href="@Url.Action("Index", "XuatNhapTon")" class="btn btn-info btn-block">
                                    <i data-feather="archive" class="me-2"></i>
                                    Xuất nhập tồn
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

<script>
    $(document).ready(function() {
        // Initialize Feather icons
        feather.replace();

        // Counter animation
        $('.counter').each(function () {
            $(this).prop('Counter',0).animate({
                Counter: $(this).text()
            }, {
                duration: 2000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });
    });
</script>